.container-fluid {
    margin-right: 50px;
    margin-left: 50px;
}

h1,
h2 {
    margin: 10px 50px;
}

hr {
    border: none;
    height: 3px;
    background-color: gray;
    margin: 5px 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    padding: 10px;
    border: 1px solid rgb(95, 240, 192);
    margin: 5px;
    align-items: center;
    font-weight: 500;
    background-color: aquamarine;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(69, 203, 158);
}

.inner-box {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.inner-box-icon{
    font-size: 40px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 50px 20px 50px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover{
    background-color: azure;
}

.view{
    font-size: 20px;
    color: rgb(133, 27, 133);
}

.delete{
    font-size: 20px;
    color: red;
}

.edit{
    font-size: 20px;
    color: green;
}